body{
  font-size: 14px;
  font-family: "Times New Roman" serif;
  color: black;
  /* background: #F3EBE9; */
  background: url(../images/pattern1.png);
  background-repeat: repeat;
  background-size: auto;
  margin: 0 auto;
}


h1{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #FFF;
}

h2{
  font-size: 28px;
  text-transform: uppercase;
  font-family: cursive, Helvetica, sans-serif;
}

p{
  font-size: 14px;
  margin-bottom: 20px;
}

header, footer{
  .container{
    background: #e27e73;
    h1{
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
    h2{
      padding-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

footer{
  text-align: right;
  color: #FFF;
  p{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
}


.container{
  max-width: 960px;
  margin: 0 auto;
  background: #FFF;
  .hero{
    width: 100%;
    padding: 0;
  }
}

.page{
  padding-left: 20px;
  padding-right: 20px;

  h2{
    margin-top: 30px;
    margin-bottom: 10px;
  }
}


.image-links{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
  a{
    text-decoration: none;
    img{
      display: inline-block;
      box-sizing: border-box;
      border: 5px solid #ccc;
      padding: 2px;
      width: 24.5%;
    }
  }

}
